In [1]:
# Import necessary libraries 

import sqlite3

In [2]:
# Connect to the database and create a cursor object

sqliteConnection = sqlite3.connect('gfg.db')
cursor = sqliteConnection.cursor()

In [3]:
print("Connected to the database")

#sqliteConnection.close() to close the database

Connected to the database

In [4]:
# Creating tables

sql_command = """
CREATE TABLE emp(
staff_number INTEGER PRIMARY KEY,
fname VARCHAR(20),
lname VARCHAR(30),
gender CHAR(1),
joining DATE);""" 

cursor.execute(sql_command)
sqliteConnection.close()

In [5]:
# Inserting data into table

connection = sqlite3.connect('gfg.db')
crsr = connection.cursor()

sql_command2 = """INSERT INTO emp VALUES (23, "Rishabh",\
    "Bansal", "M", "2014-03-28");"""

crsr.execute(sql_command2)

sql_command3 = """INSERT INTO emp VALUES (1, "Bill", "Gates",\
    "M", "1980-10-28");"""

crsr.execute(sql_command3)

# Commit so you save changes to the database
connection.commit()
connection.close()

In [9]:
# Inserting data input by a user

connection = sqlite3.connect("gfg.db")
crsr = connection.cursor()

# Primary Key

pk = [2, 3, 4, 5, 6]

# Enter 5 first names and last names

f_name = ['Nikhil', 'Nisha', 'Abhinav', 'Raju', 'Anshul']
l_name = ['Aggarwal', 'Rawat', 'Tomar', 'Suzuki', 'Aggarwal']

# Enter respective genders

gender = ['M', 'F', 'M', 'M', 'F']

# Enter joining date

date = ['2019-08-24', '2020-01-01', '2018-05-14', '2015-02-02', '2018-05-14']

for i in range(5):
    crsr.execute('INSERT INTO emp VALUES (?,?,?,?,?)',
                  (pk[i], f_name[i], l_name[i], gender[i], date[i]))

connection.commit()
connection.close()

In [10]:
# Reading data from sqlite3 table

connection = sqlite3.connect("gfg.db")
crsr = connection.cursor()

crsr.execute("SELECT * FROM emp")

ans = crsr.fetchall()

for i in ans:
    print(i)

(1, 'Bill', 'Gates', 'M', '1980-10-28')
(2, 'Nikhil', 'Aggarwal', 'M', '2019-08-24')
(3, 'Nisha', 'Rawat', 'F', '2020-01-01')
(4, 'Abhinav', 'Tomar', 'M', '2018-05-14')
(5, 'Raju', 'Suzuki', 'M', '2015-02-02')
(6, 'Anshul', 'Aggarwal', 'F', '2018-05-14')
(23, 'Rishabh', 'Bansal', 'M', '2014-03-28')

In [11]:
# Updating Data

conn = sqlite3.connect('gfg.db')
cursor = conn.cursor()

cursor.execute('''UPDATE emp SET lname = "Jyoti" WHERE fname="Rishabh";''')
conn.commit()
conn.close()

In [ ]:
# Deleting Data

conn = sqlite3.connect('gfg.db')
cursor = conn.cursor()

cursor.execute('''DELETE FROM emp WHERE fname="Rishabh";''')

conn.commit()
conn.close()

In [13]:
# Deleting Table 

conn = sqlite3.connect('gfg.db')
cursor = conn.cursor()
cursor.execute('''DROP TABLE emp;''')

conn.commit()
conn.close()